@import '../globalStyles.scss';

body {
    background-color: $base-color;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    min-width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__header{
        color: $text-color;
        border-bottom: 2px solid white;
        padding-bottom: 5px;
        width: 50%;
        text-align: center;
    }
    &__register{
        color: $text-color;
        font-size: .8rem;
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }
    }
    .errorList{
        margin: 0;
        padding: 8px 30px;
        border-radius: 20px;
        background-color: white;
        font-weight: bold;
        list-style: none;
        color: $base-color;
        &__error{
            padding: 0;
            margin: 0;
        }
    }
    .formPart {
        margin: 10px 0;
        display: flex;
        align-items: center;
        &__icon{
            @extend %icon;
        }
        &__input{
            @extend %input;
        }
        &__button{
            @extend %button;
        }
    }
}